<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">   
    <title>Lending Program</title>
</head>
<body style="padding: 20px;" class="text-center">
	
	<h1 class="display-6">Fill in the data</h1>
	<br>
	<hr>
	<form th:method="post" th:action="@{/sign-up}" class="form-group">
		<label>Name<input type="text" name="name" class="form-control" autofocus/></label>
		<label>E-mail<input type="email" name="email" class="form-control"/></label>
		<label>Password<input type="password" name="password" class="form-control"/></label>
		<label>Authorities
			<select class="form-control ps-5 pe-5" name="authorities">
				<option value="ROLE_USER" selected>User</option>
				<option value="ROLE_ADMIN">Admin</option>
			</select>
		</label>
		<br>
		<br>
		<button type="submit" class="btn btn-success ps-5 pe-5">Create account</button>
	</form>
	<br>
	<p th:each="error : ${errors}" th:text="${error.getDefaultMessage()}" class="alert alert-danger" style="width: 500px; margin-left: auto; margin-right: auto;"></p>

	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</body>
</html>